.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #1d7cca;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px;
    background-color: #218fd7;
    margin-bottom: 10px;
    text-align: center;
    transition: background 0.3s;
}

.sidebar ul li:hover {
    background-color: #44a0de;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul li a i {
    margin-right: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: rgb(134, 188, 227);
}
